<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<title>Document Banhbaoapp.com Chat cùng người lạ</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script>
			// MDB Lightbox Init
			$(function () {
			$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
			});
		</script>
	</body>
	</head>
	<body>
		<div class="container">
		  <div class="raw col-md-12 border alert alert-primary" > 
				 <h3 class = "bd-title">Dự án: Chat cùng người lạ</h3> 
				 <div class="card">
					  <ul class="list-group list-group-flush">
						<li class="list-group-item">
						  Verion: 1.0.0 </br>
						  Tên miền: banhbaoapp.com <br/>
						  Công nghệ/ Nền tảng: Nodejs + React native + Mongodb <br/>
						  Server: Ubuntu 19.10
						</li>
						<li class="list-group-item">
						  Bắt đầu: 1 tháng 7 năm 2020 <br/>
						  Kết thúc: 3 tháng 9 năm 2020 
						</li>
					  </ul>
				 </div>
				 
		  </div>
		  <div>
			  <h4>Chức năng đích</h4>
			  <div >
		  <div class="raw">
			
			     Tìm kiếm và chat với người lạ
			  </div>
			</div>
		  </div>
		  
<hr>
		  <div><h4>Giao diện (mockup)</h4></div>
		  <div class="row">
			<div class="col-md-12">

			  <div id="mdb-lightbox-ui"></div>

			  <div class="row">

				<figure class="col-md-4">
					<a href="/img/1.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/1.jpg" class="img-fluid border">
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/2.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/2.jpg" class="img-fluid border" />
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/3.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/3.jpg" class="img-fluid border" />
					</a>
				</figure>
			  </div>

			  <div class="row">

				<figure class="col-md-4">
					<a href="/img/4.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/4.jpg" class="img-fluid border">
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/5.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/5.jpg" class="img-fluid border" />
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/6.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/6.jpg" class="img-fluid border" />
					</a>
				</figure>
			  </div>
			  <div class="row">

				<figure class="col-md-4">
					<a href="/img/7.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/7.jpg" class="img-fluid border">
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/8.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/8.jpg" class="img-fluid border" />
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/9.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/9.jpg" class="img-fluid border" />
					</a>
				</figure>
			  </div>
			  <div class="row">

				<figure class="col-md-4">
					<a href="/img/10.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/10.jpg" class="img-fluid border">
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/11.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/11.jpg" class="img-fluid border" />
					</a>
				</figure>

				<figure class="col-md-4">
					<a href="/img/12.jpg" data-size="1600x1067">
					<img alt="picture" src="/img/12.jpg" class="img-fluid border" />
					</a>
				</figure>
			  </div>

			</div>
		  </div>
		  
		  <hr>
		  <div><h4>Chức năng</h4></div>
		  <div class="row"> 
		    <div class="col-md-12">
			  <ul class="list-group">
				  <li class="list-group-item">1. Đăng Nhập </li>
				  <li class="list-group-item">2. Đăng Ký/Đăng ký bằng tài khoản facebook,google</li>
				  <li class="list-group-item">3. Cập nhật thông tin</li>
				  <li class="list-group-item">4. Xem thông tin, lượt thích, lượt report</li>
				  <li class="list-group-item">5. Báo cáo lỗi hệ thống</li>
				  <li class="list-group-item">6. Trợ giúp</li>
				  <li class="list-group-item">7. Link tham gia groups kín facebook</li>
				  <li class="list-group-item font-weight-bold">8. Bắt đầu tìm kiếm phòng chat</li>
				  <li class="list-group-item font-weight-bold">9. Kết thúc chat</li>
				  <li class="list-group-item">10. Thích người chat</li>
				  <li class="list-group-item">11. Report người chat</li>
				  <li class="list-group-item">12. Cấm sử dụng trong 1 giờ</li>
			  </ul>
			</div>
		</div>

		<hr>
		  <div><h4>Use Case</h4></div>

		  <hr>
		  <div><h4>API</h4></div>
		  <div class="row"> 
			  <!--Register-->
			<table class="table table-bordered">
				<thead>
				  <tr>
					<th scope="col"><div class="alert alert-success" role="alert">#Đăng ký</div></th>
					<td>Post</td>
					<td><code>/api/user</pre></td>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row">Header</th>
					<td>application/json; charset=utf-8</td>
					<td>{}</td>
				  </tr>
				  <tr>
					<th scope="row">Body</th>
					<td>required</td>
					<td>
						<code>
						{<br/>
							"username": "abc",<br/>
							"firstname":"abc",<br/>
							"lastname":"efg",<br/>
							"password": "123123",<br/>
							"email":"abc2@cc.co",<br/>
							"dob":"01/15/2000"<br/>
						}
						</code>
				</td>
				  </tr>
				  <tr>
					<th scope="row">Result</th>
					<td>Successfully</td>
					<td><code>{ <br/>
						"status": 200,<br/>
						"user": {<br/> 
								&nbsp;&nbsp;&nbsp;&nbsp;"token": "AAA.BBB.CCC",<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc"<br/>
						
						&nbsp;&nbsp;&nbsp;&nbsp;} <br/>
					}</code></td>
				  </tr>
				  <tr>
					<th scope="row">Result</th>
					<td>Failed</td>
					<td><code>{ <br/>
						"status" : 400,<br/>
						"msg" : "Please enter both username and password!" <br/>
					}
					</code></td>
				  </tr>
				</tbody>
			</table>
			
		<!--Login-->
		<table class="table table-bordered">
			<thead>
			<tr>
				<th scope="col"><div class="alert alert-success" role="alert">#Đăng nhập</div></th>
				<td>Post</td>
				<td><code>/api/auth</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td>{}</td>
			</tr>
			<tr>
				<th scope="row">Body</th>
				<td>required</td>
				<td>
					<code>
					{<br/>
						"username": "abc",<br/>
						"password": "123123"<br/>
					}
					</code>
			</td>
			</tr>
			<tr>
				<th scope="row">Result</th>
				<td>Successfully</td>
				<td><code>{ <br/>
					"status": 200,<br/>
					"user": {<br/> 
							&nbsp;&nbsp;&nbsp;&nbsp;"token": "AAA.BBB.CCC",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc"<br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;} <br/>
				}</code></td>
			</tr>
			<tr>
				<th scope="row">Result</th>
				<td>Failed</td>
				<td><code>{ <br/>
					"status" : 401,<br/>
					"msg" : "User does not exists" <br/>
				}
				</code></td>
			</tr>
			</tbody>
		</table>


		<!--Get user-->
		<table class="table table-bordered">
			<thead>
			<tr>
				<th scope="col"><div class="alert alert-success" role="alert">#Thông tin</div></th>
				<td>Get</td>
				<td><code>/api/user</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
			</tr>
			<tr>
				<th scope="row">Body</th>
				<td>none</td>
				<td>
				</td>
			</tr>
			<tr>
				<th scope="row">Result</th>
				<td>Successfully</td>
				<td><code>{ <br/>
					"status": 200,<br/>
					"user": {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc3",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"firstname": "abc",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"lastname": "efg",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"email": "abc2@gmail.com",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
				}</code>
			</td>
			</tr>
			<tr>
				<th scope="row">Result</th>
				<td>Failed</td>
				<td><code>{ <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"status" : 401,<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;"msg" : "Token is invalid" <br/>
				}
				</code></td>
			</tr>
			</tbody>
		</table>

		<!--Update-->
		<table class="table table-bordered">
			<thead>
			<tr>
				<th scope="col"><div class="alert alert-success" role="alert">#Cập nhật</div></th>
				<td>Post</td>
				<td><code>/api/update</pre></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Header</th>
				<td>application/json; charset=utf-8</td>
				<td><code>"auth-token": "AAA.BBB.CCC"</code></td>
			</tr>
			<tr>
				<th scope="row">Body</th>
				<td>required</td>
				<td>
					<code>
						{<br/> 
							"user" : {<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"id": "5efc8e8ea0358c106cd8c38d",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"firstname":"abc",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"lastname":"efg",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"email":"abc2@cc.co",<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;"dob":"01/15/2000"<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
						}
						</code>
			</td>
			</tr>
			<tr>
				<th scope="row">Result</th>
				<td>Successfully</td>
				<td><code>{ <br/>
					"status": 200,<br/>
					"user": {<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"_id": "5efc8e8ea0358c106cd8c38d",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"username": "abc3",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"firstname": "abc",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"lastname": "efg",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"email": "abc2@gmail.com",<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;"__v": 0<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
				}</code></td>
			</tr>
			<tr>
				<th scope="row">Result</th>
				<td>Failed</td>
				<td><code>{ <br/>
					"status" : 401,<br/>
					"msg" : "Update failed" <br/>
				}
				</code></td>
			</tr>
			</tbody>
		</table>




		  </div>

		</div>
		
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>